# PostgreSQL 运行在 Docker 宿主机时使用该地址。
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_DB=enterprise_ai_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_SSLMODE=disable
